body{
	margin:0;
	padding:0;
	background-color:#141414;
	font-family:Times, Georgia, Serif;
	font-size:15px;
	color:#ffffff;
}
a{
	color:#000000;
}
ul{
	margin:0;
	padding:0 10px 10px 30px;
	list-style-type:square;
}
img{
	border-width:0;
}
p{
	clear:right;
	font-size:15px;
	margin:0;
	padding:0 10px 10px 10px;
	text-align:justify;
}
h1{
	font-size:18px;
}
h2{
	clear:left;
	margin:0;
	padding:10px 10px 10px 10px;
	font-size:17px;
}
h3{
	clear:left;
	margin:0;
	padding:10px 10px 10px 10px;
	font-size:15px;
}
h4{
	clear:left;
	margin:0;
	padding:10px 10px 10px 10px;
	font-size:14px;
}
div.border{
	height:100%;
	border-width:0 2px 0px 2px;
	border-style:solid;
}
.blue{
	border-color:#6291ce;
}
.red{
	border-color:#cb0000;
}
div#main{
	color:#000000;
	background-color:#141414;
	width:750px;
	margin:0 auto;
}
div#head{
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#FFFFFF;
	margin:0 0 1px 0;
}
div#head h1{
	background-image:url(../Images/head1.png);
	background-position:80px 0;
	background-repeat:no-repeat;
	background-color:#9fbce1;
	color:#000000;
	height:131px;
	padding:0;
	margin:0;
}
div#head span {
	display:none;
}
div#menu ul {
	display:none;
}
div#menu {
	height:35px;
	padding:0;
	margin:0 0 1px 0;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	background-color:#d53333;
	color:#000000;
	text-align:center;
}
div#menu object#menuFlash{
	position:relative;
	width:730px;
	height:26px;
	background-color:#d53333;
	margin:5px 0 4px 0;
	padding:0;
}
div#content {
	padding:0;
	margin:0 0 1px 0;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	background-color:#9fbce1;
	color:#000000;
}
div#content object{
	margin:0 10px 10px 10px;
}
div#foot {
	float:left;
	width:748px;
	margin:0 0 8px 0;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	background-color:#374191;
	color:#ffffff;
}
div#foot span{
	display:none;
}
div#foot div.blue{
	border-color:#051276;
}
div#foot1 {
	float:left;
	background-repeat:no-repeat;
	background-image:url(../Images/foot1.png);
	width:265px;
	height:25px;
}
div#foot2 {
	float:right;
	background-repeat:no-repeat;
	background-image:url(../Images/foot2.png);
	width:239px;
	height:25px;
}
a#validxhtml {
	margin:0 0 8px 0;
	float:left;
	display:block;
	background-repeat:no-repeat;
	background-image:url(../Images/valid-xhtml11.png);
	width:88px;
	height:31px;	
}
a#validxhtml span {
	display:none;
}
a#validcss {
	margin:0 0 8px 0;
	float:left;
	display:block;
	background-repeat:no-repeat;
	background-image:url(../Images/vcss.gif);
	width:88px;
	height:31px;	
}
a#validcss span {
	display:none;
}